* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
    font-family: 'Eczar', Serif;
    font-family: 'Merriweather', Serif;
    line-height: 1.5;
}
/* Shared Styles */

.background {
    width: 100%;
    height: 100vh;
    background-image: url(Resources/PBackground.jpeg);
    background-size: cover;
    position: fixed;
    animation: changeColor 5s linear infinite;
}

.transition-fade {
    opacity: 1;
    transition: 0.5s;
    transform: translateX(0);
    transform-origin: left;
    position: fixed;
    top: 15%;
    right: 1%;
    width: 100%;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

nav h4 {
    display: block;
    font-size: 25px;
    padding: 10px 0;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.logo1 img {
    height: 60px;
    width: 60px;
    animation: rotation 7s linear infinite;
}

.logo2 img {
    height: 60px;
    width: 60px;
    animation: rotation-reverse 7s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes rotation-reverse {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 427px) and (max-width: 1024px) {
    nav a{
        font-size: 20px;
    }
}

@media screen and (max-width: 426px) {
    nav a{
        font-size: 15px;
    }
    .logo1 img, .logo2 img {
        height: 30px;
        width: 30px;
    }
}



/* Home Page */

.home-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(Resources/PBackground.jpeg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation: changeColor 5s linear infinite;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.dot {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
}

.dot::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #18f1df;
    transform: scale(0.1);
    box-shadow: 0 0 10px #18f1df,
    0 0 20px #18f1df,
    0 0 40px #18f1df,
    0 0 60px #18f1df,
    0 0 80px #18f1df,
    0 0 100px #18f1df;
    border-radius: 50%;
    pointer-events: none;
    transition: 2s; 
}

.dot:hover::before {
    transform: scale(1);
    transition: 0s;
}

.home-heading {
    z-index: 1;
    position: fixed;
    top: 43%;
    left: 35%;
    width: 30%;
    box-shadow: 0 0 20px;
    background-color: #18f1df;
    animation: changeColor 5s linear infinite;
}

.home-heading h1, h2 {
    padding: 10px;
    text-align: center;
}

.home-heading h1 {
    font-size: 35px;
}

.home-heading h2 {
    font-size: 35px;
}

.home-heading a {
    animation: changeColor 5s linear infinite;
    text-decoration: none;
}

.entry-link {
    display: flex;
    justify-content: center;
    transition: transform 0.5s;
}

.entry-link:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {
    .home-heading {
        top: 41.3%;
        left: 14%;
        width: 70%;
        background-color: none;
        border: none;
    }
    .home-heading h1, a {
        font-size: 20px;
        margin: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .home-heading {
        top: 45%;
        left: 15%;
        width: 70%;
    }
    .home-heading h1, h2 {
        font-size: 30px;
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home-heading {
        top: 44.3%;
        left: 14%;
        width: 70%;
    }
    .home-heading h1,h2 {
        font-size: 35px;
    }
}

/* About Page */

.about-me-section {
    position: fixed;
    top: 15%;
    right: 32%;
    width: 35%;
    text-align: center;
}

.about-me-section p {
    margin: 20px;
}

#skills {
    margin-top: 250px;
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 30px;
}

.skills-list .fab, .fas{
    transition: transform 0.5s;
}

.skills-list .fab:hover, .fas:hover {
    transform: scale(3);
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .about-me-section {
        right: 15%;
        width: 70%;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.678);
    }
    #skills {
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .about-me-section {
        right: 10%;
        width: 80%;
        font-size: 10px;
        background-color: rgba(255, 255, 255, 0.678);
    }
    #skills {
        margin-top: 20px;
    }
}


/* Projects page */

.projects-container {
    display: flex;
    position: absolute;
    top: 15%;
    right: 35%;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-name {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #18f1df;
    animation: changeColor 5s linear infinite;
}

.projects-container button {
    border: 2px solid #18f1df;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 100px; 
    opacity: 0.5;
}

.projects-container button:hover {
    opacity: 1;
}

.projects {
    transition: transform 1s;
}

.projects:hover {
    transform: scale(1.5);
}

.top-travel-destinations {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url(./Resources/Travel-thumbnail.jpg);
    background-size: cover;
    margin-top: 1.7%;
    
}

.tea-cozy {
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url(./Resources/organic\ tea.jpg);
    background-size: cover;
    margin-top: 1.7%;
}

.fotomatic {
    color: white;
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url(./Resources/Camera.jpg);
    background-size: cover;
    margin-top: 1.7%;
}

.surf-club {
    color: white;
    text-align: center;
    width: 48%;
    height: 200px;
    background-image: url(./Resources/Surf\ boards.jpg);
    background-size: cover;
    margin-top: 1.7%;
}

@media screen and (max-width: 767px) {
    .projects-container {
        width: 80%;
        right: 10%;
    }

    .project-container button, a {
        font-size: 10px;
    }
    .projects {
        height: 140px;
    }
    .projects button {
        margin-top: 60px;
        padding: 3px;
    }
    .project-name {
       font-size: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .projects-container {
        width: 70%;
        right: 15%;
    }
    .projects {
        height: 230px;
    }
    .project-container button {
        font-size: 15px;
        line-height: 1;
        padding: 0;
    }
    .project-name {
        font-size: 20px;
     }
}

/* Contact Page */

.contact-me {
    position: fixed;
    top: 15%;
    right: 32%;
    width: 35%;
    text-align: center;
}

.contact-me h2{
    margin-bottom: 4%;
}

.contact-me li {
    list-style-type: none;
    margin: 5% 0px;
}

.fab {
    font-size: 25px;
}

@media screen and (max-width: 767px) {
   .contact-me {
    top: 15%;
    right: 20%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.678);
   }
   .contact-me li {
        line-height: 60px;
        font-size: 15px;
    }
    .contact-me h2 {
        font-size: 15px;
    }
    .contact-me a {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .contact-me {
        top: 15%;
        right: 15%;
        width: 70%;
        background-color: rgba(255, 255, 255, 0.678);
    }
    .contact-me li {
        line-height: 60px;
        font-size: 25px;
    }
    .contact-me h2 {
        font-size: 30px;
    }
    .contact-me a {
        font-size: 25px;
    }
}